@tailwind base;
@tailwind components;
@tailwind utilities;



/* @keyframes scrollx {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrollx {
  display: flex;
  flex-direction: row;
  width: 1500px;
  overflow: hidden;
  animation: scrollx 20s linear infinite;

   border: 2px solid red; 

}

.scrollx .testimonial-card {
  flex: 0 0 auto;
  object-fit: contain;
  width: 450px;
  height: 100%;
  margin-right: 20px; 
  

}
.group{
  display: grid;
  place-items: center;
  width: clamp(10rem, 1rem + 40vmin, 30rem);
  padding-left: calc(clamp(10rem, 1rem + 30vmin, 30rem) / 10);
  margin-right: 200px; 

} */

@keyframes vibrate {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.animate-vibrate {
  animation: vibrate 0.3s linear;
}

.hover {
  @apply  hover:bg-white hover:py-1 px-3  hover:rounded-lg hover:text-black hover:font-semibold ;
}



/* DatePicker */

.react-datepicker {
  font-size: 1.2em; 
}

.react-datepicker__header {
  font-size: 1.1em; 
}

.react-datepicker__month {
  font-size: 1.1em; 
  margin-bottom: 2px;
}

.react-datepicker__day {
  width: 4em; 
}

.react-datepicker__time-container {
  font-size: 1.1em; 
}

/* 
.react-datepicker__time-list-item {
  height: 3em; 
  line-height: 3em;
} */
