@tailwind base;
@tailwind components;
@tailwind utilities;

.testimonial-container {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}

.testimonial-content {
  display: inline-block;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.dashed-line {
  border-top: 2px dashed #1d4ed8;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
